blinker==1.4
certifi==2021.10.8
charset-normalizer==2.0.12
click @ file:///C:/ci/click_1646038595831/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
Flask-Mail==0.9.1
Flask-WTF==1.0.1
gunicorn==20.1.0
heroku==0.1.4
idna==3.3
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528502553/work
python-dateutil==1.5
python-dotenv==0.20.0
requests==2.27.1
urllib3==1.26.9
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
WTForms==3.0.1
