certifi==2022.5.18.1
click @ file:///C:/ci/click_1646056762388/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
Flask-WTF==1.0.1
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
python-dotenv==0.20.0
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
WTForms==3.0.1
